body {
    background-color: rgb(149, 216, 190); /* color de fondo */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    text-transform: uppercase; /* letras en mayúsculas */
  }
  
  main {
    margin: 20px auto; /* centrado horizontalmente */
    max-width: 600px; /* ancho máximo */
  }
  
  section {
    margin-bottom: 20px;
    text-align: justify; /* justificación de texto */
  }
  
  h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
    text-align: center;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  button {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: block; /* para centrar horizontalmente */
    margin: 0 auto; /* centrado horizontalmente */
    font-size: 18px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0062cc;
  }
  .card-header {
    background-color: #f8f9fa;
  }
  .btn-group-separate .btn {
    margin-right: 110px;
  }

  .card-header button {
    color: #007bff;
    font-weight: bold;
  }

  .card-header button:hover {
    text-decoration: underline;
  }

  .card-body {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
  }
  .barra {
    width: 300px;
    height: 20px;
    background-color: #ccc;
    position: relative;
  }

  .boton-deslizante {
    width: 50px;
    height: 20px;
    background-color: #007bff;
    position: absolute;
    cursor: grab;
  }